# Mac files to ignore.
.DS_Store

specxplore/__pycache__

./model-files
model-files

./data-input
data-input
./data-output
data-output

archive
./archive

example-00-dummy-ms2query
example-00-dummy-ms2query-negative
example-00-dummy-ms2query-positive
ms2query-lib-positive

example00-step1-negative.py
example00-step1-positive.py
example00-step2-negative.py
example00-step2-positive.py

example01-step1-positive.py
example01-step2-positive.py

specxplore/importing.py
example_01_gnps_nih-dataset.py
example_01_gnps_nih-dataset.py
specxplore/__pycache__/importing.cpython-38.pyc
cython_utils.cpython-38-darwin.so

./specxplore/cython_utils.cpp

.ipynb_checkpoints
./build

build/temp.macosx-11.1-arm64-cpython-38/specxplore/cython_utils.o

./specxplore/cython_utils.cpp

__pycache__/specxplore_settings.cpython-38.pyc

data_import_testing
tmp.ipynb
todo.md
specxplore/cython_utils.cpp
__pycache__/template_processing_funs.cpython-38.pyc


# Ignore so objects that are constructed by setup.py and platform specific
*.so