# Mac files to ignore.
.DS_Store

__pycache__
specxplore/__pycache__

models
archive
data_and_output
data_npl
data_phophe
data_urine
data_wheat


data_monoindolealkaloid
processing_monoindole.ipynb

specxplore/__pycache__/importing.cpython-38.pyc
cython_utils.cpython-38-darwin.so

./specxplore/cython_utils.cpp

.ipynb_checkpoints
build

build/temp.macosx-11.1-arm64-cpython-38/specxplore/cython_utils.o

./specxplore/cython_utils.cpp

__pycache__/specxplore_settings.cpython-38.pyc


# Ignore so objects that are constructed by setup.py and platform specific
*.so

