
body {
    font-family: 'Ubuntu Mono';
    margin-left: 5pt;
    margin-right: 5pt;
}
h1 {
    color:  #ff1393
}

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}